{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <link href="{% static 'plugins/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/slick-carousel/slick/slick.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/slick-carousel/slick/slick-theme.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/fancybox/jquery.fancybox.pack.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/jquery-nice-select/css/nice-select.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'img/favicon.png' %}" rel="shortcut icon">

    {% block css %}{% endblock %}
</head>
<body class="body-wrapper">

    {% block content %}{% endblock %}

    {% block js %}{% endblock %}

    <script src="{% static 'plugins/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'plugins/tether/js/tether.min.js' %}"></script>
    <script src="{% static 'plugins/raty/jquery.raty-fa.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/dist/js/popper.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js' %}"></script>
    <script src="{% static 'plugins/slick-carousel/slick/slick.min.js' %}"></script>
    <script src="{% static 'plugins/jquery-nice-select/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'plugins/fancybox/jquery.fancybox.pack.js' %}"></script>
    <script src="{% static 'plugins/smoothscroll/SmoothScroll.min.js' %}"></script>
{#    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>#}
    <script src="{% static 'js/scripts.js' %}"></script>
    <script>
        $(document).ready(function (e) {
            var open_menu = $('.open_menu');
            open_menu.click(function (e) {
                $(this).toggleClass('opened');
            })
        })
    </script>
</body>
</html>