{% extends 'base.html' %}
{% load static %}

{% block content %}
{{ header }}
{{ banner }}

<section class=" section">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-12">
				<!-- Section title -->
				<div class="section-title">
					<h2>О нас</h2>
				</div>
				<div class="row">
					<div class="text-justify">
                        Дорогие Друзья! Добро пожаловать на наш  медиа TELEGRAM-канал по ссылке https://t.me/mediasamorazvitiesamopoznanie. Видео и аудио файлы, записанные на наших семинарах-тренингах, авторские статьи, авторские практики Муштарий Юлдашевой и многое другое интересное и полезное  в свободном доступе для скачивания на  нашем канале.
                    </div>
				</div>
                <br>
                <div class="row">
                    <div class="col-md-6" style="padding: 0;">
                        <h4>ВНИМАНИЕ!!! НОВОСТЬ! НОВОСТЬ! НОВОСТЬ!</h4>
                        Дорогие Искатели! Муштарий Юлдашева приглашает вас на свой профессиональный курс! Курс предназначен только для будущих психологов и тех, кто уже практикует в этой сфере. Курс будет состоять из трех модулей. Первый модуль стартует 4 сентября и продлится один месяц. Обучение будет в основном ориентироваться на практике. Минимум теории и максимум практики! Для проверки и закрепления полученной информации мы будем приглашать  всех желающих поработать с вами, чтобы Вы могли практиковать с реальными людьми и реальными проблемами.
                    </div>
                    <div class="col-md-6" style="padding: 0;">
                        <img src="https://static.wixstatic.com/media/c7735e_0117303d74524fbbb9f38c320961d7bc~mv2_d_1280_1280_s_2.jpg/v1/fill/w_383,h_383,al_c,q_80,usm_0.66_1.00_0.01/c7735e_0117303d74524fbbb9f38c320961d7bc~mv2_d_1280_1280_s_2.webp" alt="">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12" style="padding: 0;">
                        Муштарий Юлдашеванинг профессионал курсининг 2 модул иштирокчилари! Табриклаймиз!!!🎊🎉💐🎊🎉💐👏👏👏👏👏👏👏👏👏👏👏ПРОФЕССИОНАЛЬНЫЙ КУРС МУШТАРИЙ ЮЛДАШЕВОЙ 2 модуль - ВЕЛИКИЙ ТРУД И ГЛУБОКИЕ РЕЗУЛЬТАТЫ у каждой участницы! Девушки, вы молодцы! Вы талантливы! Вы сильны! Вы сможете трансформировать мир! ТОЛЬКО ВПЕРЁД!🌟🌟💫💫💫💫💫💫💫💫💫💫💓🌟🌟💓💓💓💓💓не останавливайтесь! двигайтесь, растите и расширяетесь!!!

                    </div>
                    <div class="col-md-12" style="padding: 0;">
                        <iframe class="half_width_iframe" width="50%" height="352" src="https://www.youtube.com/embed/r_Ewi2L1En8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        <iframe class="half_width_iframe" width="50%" height="352" src="https://www.youtube.com/embed/ba3BU3Klbm4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>

{{ footer }}
{% endblock %}