{% extends 'base.html' %}
{% load static %}

{% block content %}
    {{ header }}
    {{ banner }}
    <section class="inner-section inner-page">
        <!-- Container Start -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section title -->
                    <div class="section-title">
                        <h2>{{ content.title }}</h2>
                    </div>
                    <div class="row">
                        {{ content.body|safe }}
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{ footer }}
{% endblock %}